<h1><%= t ".title_mail" %></h1>

<%= @user.name %>, <%= t ".mail_detail" %> app/views/user_mailer/account_activation.text.erb
<%= link_to t(".confirm_link"), edit_account_activation_url(I18n.locale, @user.activation_token, email: @user.email) %>
